*{
    border:solid;

}
h1{
    background-color: aqua;
}
body{
    background-color: gold;
}
h2,p{
    color:gray ;
    background-color: ghostwhite;
    text-align: center;
}
.intro{
    display:flex;
    justify-content: space-evenly;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.grid1{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.photo{
    margin-top: 50px;
    display:flex;
    justify-content: flex-end;
    
}

        